<div class="container">
  <div class="col">
    <div class="index-question-content">      

  <!--Show the question-->
      <div class="question-item clearfix">
        <div class="row-9">
            <h5><%= link_to @question.title, question_path(@question) %></h5>
            <p><%= @question.description %></p>
            <%= link_to @question.user.name, user_path(@question.user) %>
             -Asked <%= time_ago_in_words @question.created_at %> 


        <div class="row-3">
            <%= render :partial => "shared/question_upvote", locals: {question: @question} %>
            <br>
            <%= render :partial => "shared/favorite", locals: {question: @question} %>
          </div>
         
        </div>
      </div>


  <!--Show the Answer-->
      <div class="question-item clearfix">
        <h5> Answer List</h5>
          <% @question.answers.each do |answer| %>
              <div>
                <p><%= simple_format answer.content %></p>
                <p class="text-muted">
                  <em><%= time_ago_in_words(answer.created_at)%> ago </em>
                     <%= link_to "Upvote", answer_upvote_question_answer_path(@question,answer), method: :post, class: 'btn btn-success' %>
                     
                    
                <hr>
                 
                </p>
              </div>
          <% end %>
      </div>

  <!--Answer for log in or not ?-->
    <div class="container">
      <div class="row">
        <% if user_signed_in? %>
          <div class="col">
            <%= form_for [ @question, @answer ] do |f| %>
              <div class="form-group">
                <%= f.text_area :content, placeholder: "Write your answer.", class: "form-control" %>
                <%= f.submit "Answer", class: "btn btn-primary" %>
               </div>
            <% end %>

              <% else %>
                <div class="form-group">
                    <h4><%= 'Before you answer the question,PLEASE log in.' %></h4>
                </div>

              <% end %>
          
          </div>
        </div>


    </div>
  </div>
</div>


    