<!-- Add side bar for all pages except user authetication page -->
<%= render partial: 'shared/sidebar' %>

<div class="container pt-5">
  <p class="h1"><%= @question.title %></p>
  <hr>
  <div class="row">
    <div class="col-md-2">
      <%= render partial: 'shared/question_upvote', locals: {question: @question} %>
      <%= render partial: 'shared/favorite', locals: {question: @question} %>
    </div>
    <div class="col-md-10">
      <div><%= @question.description %></div>
      <div class="text-right">
        <span>
          <small>asked <%= time_ago_in_words @question.created_at %> ago</small>
          <small><%= link_to @question.user.name, user_path(@question.user.id) %></small>
          <%= image_tag @question.user.avatar, size: '100x100',  class: 'img-fluid img-thumbnail rounded-circle' %>
        </span>
      </div>
    </div>
  </div>

  <hr>
  <hr>

  <!--Show the Answer-->
  <p class="h3"><%= "#{@question.answers.size} Answers" %></p>
  <hr>

  <% @question.answers.each do |answer| %>
    <div class="row">
      <div class="col-md-2">
        <%= render partial: 'shared/answer_upvote', locals: {answer: answer} %>
      </div>
      <div class="col-md-10">
        <div><%= answer.content %></div>
        <div class="text-right">
          <span>
            <small>asked <%= time_ago_in_words answer.created_at %> ago</small>
            <small><%= link_to answer.user.name, user_path(answer.user.id) %></small>
            <%= image_tag answer.user.avatar, size: '100x100',  class: 'img-fluid img-thumbnail rounded-circle' %>
          </span>
        </div> 
      </div>
      <hr>
    </div>
  <% end %>

  <!--Answer for log in or not ?-->
  <div>
      <% if user_signed_in? %>
        <%= form_for [@question, @answer] do |f| %>
          <div class="form-group">
            <%= f.text_area :content, placeholder: "Write your answer.", rows: '5', class: "form-control" %><br>
            <%= f.submit "Answer", class: "btn btn-primary" %>
          </div>
        <% end %>
      <% else %>
        <br>
        <hr><hr>
        <div class="border border-info text-center p-3">
          <p class='h3'>Want to give vote and share your answer? <%= link_to 'Log in', new_user_session_path %> now.</p>
        </div>
      <% end %>
  </div>
</div>


    