<div class="container">
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <%= image_tag @user.avatar, class: 'img-fluid' %>
    </div>
    <div class="col-md-8 col-sm-12">
      <p class="h1"><%= @user.name %>
        <span class="ml-3">
          <%= link_to 'Edit', edit_user_path(@user) , class: 'btn btn-primary' %>
        </span>
      </p><br>
      <dl class="row">
        <dt class="col-md-4">Job Title :</dt>
        <dd class="col-md-8 text-muted"><%= @user.title %></dd>

        <dt class="col-md-4">Website Link :</dt>
        <dd class="col-md-8 text-muted"><%= @user.website %></dd>

        <dt class="col-md-4">Github Link :</dt>
        <dd class="col-md-8 text-muted"><%= @user.github %></dd>

        <dt class="col-md-4">Twitter Link :</dt>
        <dd class="col-md-8 text-muted"><%= @user.twitter %></dd>
        
        <dt class="col-md-4">Self Introduction :</dt>
        <dd class="col-md-8 text-muted"><%= @user.introduction %></dd>
      </dl> 
      
    </div>
  </div>
 
  <div class="card mt-5">
    <div class="card-header">
      <p class="h3 text-center text-primary">My Learning Record</p>
    </div>
    <ul class="list-group">
      <li class="list-group-item"><p class="h4 text-center text-info">You have asked <%= @user.questions_count %> questions</p></li>
      <li class="list-group-item"><p class="h4 text-center text-info">You have answered <%= @user.answers_count %> questions</p></li>
      <li class="list-group-item"><p class="h4 text-center text-info">You have <%= @user.favorites_count %> favorites questions</p></li>
    </ul>
  </div>
</div>
