<div class="question-item clearfix">
  <div class="row"> 

  <div class="col-3">
    <% if question.is_favorited?(current_user) %>
      <%= link_to 'Unfavorite', unfavorite_question_path(id: question.id), method: :post, class: "btn btn-info" %>
      <%= question.favorites.count  %>
    <% else %>
      <%= link_to 'Favorite', favorite_question_path(id: question.id), method: :post, class: "btn btn-primary" %>
      <%= question.favorites.count  %>
    <% end %> 
  
  </div> 
    

    <div class="col-9">

        <h5><%= link_to question.title, question_path(question) %></h5>
        <p><%= truncate(question.description, length: 100) %></p>
        <%= time_ago_in_words question.created_at %> ago
     
    </div>


  </div>
</div>
