 <!DOCTYPE html>
<html>
  <head>
    <title>Stack_Overflow</title>
    <%= csrf_meta_tags %>


  <body>

        <% if current_user %>
          Hi, <%= current_user.email %>
            <%= link_to('登出', destroy_user_session_path, method: :delete) %> |
            <%= link_to('修改密碼', edit_user_registration_path) %>
          <% else %>
            <%= link_to('註冊', new_user_registration_path) %> |
            <%= link_to('登入', new_user_session_path) %>
        <% end %>

        <% if flash[:notice] %>
          <div class="container">
            <div class="row">
              <div class="alert alert-success alert-dismissible" role="alert">
                 <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                 <%= notice %>
              </div>
            </div>
          </div>
         <% end %>
 
         <% if flash[:alert] %>
           <div class="container">
            <div class="row">
             <div class="alert alert-danger"><%= alert %></div>
            </div>
          </div>
         <% end %>
       


    <%= yield %>
  </body>
</html>
